; Git aliases.
; Source at https://github.com/joachim-n/git-aliases-drupal

[alias]
  ; information
  st  = status
  ; status of just the current folder (and subfolders)
  std = status .
  ; show just the current branch
  b   = rev-parse --abbrev-ref HEAD
  br  = branch
  ; show all branches, including remote
  bra = branch --all
  ; list remotes
  rem = remote -v

  ; diff and patch
  df  = diff
  wd  = diff --color-words
  ; show the diff of what's staged
  dfc = diff --cached
  ; show only the list of filenames
  dfn = diff --name-only
  ; diff relative to the current folder. Useful when working with modules, as
  ; it creates patches suitable for that module's issue queue.
  dfr = diff --relative
  ; creates a 'multi-patch file' that can be applied with 'git am'.
  ; useful when working on a local branch: 'git fp master > foo.patch'
  ; allows others to re-create your entire local branch, or clearly see all your
  ; steps for patch review.
  fp  = format-patch --stdout
  ; patch prepare: makes your files look like the given branch, while remaining
  ; on the current commit. This allows you to apply a subsequent patch that's
  ; against the master branch and then make a new commit on your local branch.
  ; see http://www.drupaler.co.uk/blog/git-tricks-repatching-issue-branch
  pp  = !sh -c 'git checkout "$1" -- . && git reset HEAD .'

  ; commits
  co  = checkout
  ci  = commit
  cia = commit -a
  chp = cherry-pick

  ; rebase
  ; interactive rebase: reorder, reword, zap, and combine commits.
  rebi = rebase -i

  ; stash
  sa  = stash
  sap = stash pop
  sal = stash list
  ; show numbered stash: 'git sas 1' shows stash number 1.
  sas = !sh -c 'git stash show -v stash@{$1}' -

  ; misc
  web = instaweb --httpd webrick

  ; Drupal aliases
  dc  = !sh -c 'git clone -b "$2" "git://git.drupal.org/project/$1"' -
  c73 = checkout 7.x-3.x
  c72 = checkout 7.x-2.x
  c71 = checkout 7.x-1.x
  c62 = checkout 6.x-2.x
  c61 = checkout 6.x-1.x
  ; manage Drupal core files: for committing updates to core.
  dcore-df  = diff    modules misc themes includes profiles scripts /*.php /*.txt .htaccess
  dcore-log = log     modules misc themes includes profiles scripts /*.php /*.txt .htaccess
  dcore-add = add -A  modules misc themes includes profiles scripts /*.php /*.txt .htaccess
