[alias]
  ; information
  st = status
  br  = branch
  bra = branch --all
  ; just the current branch
  b   = rev-parse --abbrev-ref HEAD
  rem   = remote -v

  ; diff and patch
  df  = diff
  dfr = diff --relative
  fp  = format-patch --stdout

  ; commits
  co = checkout
  ci = commit
  cia = commit -a
  chp = cherry-pick

  ; rebase
  ri4 = rebase -i HEAD~4
  rebi = rebase -i

  ; stash
  sa  = stash
  sap = stash pop
  sal = stash list
  ; show numbered stash
  sas = !sh -c 'git stash show -v stash@{$1}' -

  ; misc
  web = instaweb --httpd webrick

  ; Drupal aliases
  dc  = !sh -c 'git clone -b "$2" "git://git.drupal.org/project/$1"' -
  c73 = checkout 7.x-3.x
  c72 = checkout 7.x-2.x
  c71 = checkout 7.x-1.x
  c62 = checkout 6.x-2.x
  c61 = checkout 6.x-1.x
